.main-cadastro {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-bar-mobile{
   display: none;
}

.left-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45rem;
    height: 35rem;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 8rem;

}


.rigth-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: fit-content;
    flex-direction: column;
    margin: 20rem 0rem 20rem 0rem ;
    box-shadow: 9px -6px 75px 10px #0D0D84;

}

.Sub-Nav{
    position: absolute;
    display: none;
    background-color: rgba(12, 12, 12, 0.959);
    width: 50%;
    height: 15rem;
    border-radius: 0px 0px 25px 0px;
}

.Sub-Nav a {
    text-decoration: none;
    width: 2rem;
    color: #FFB510;

}

.Sub-Nav p {

    font-size: 30px;
    text-align: center;
    margin-top: 2rem;
    text-decoration: none;
    color: #FFB510;
}

.input p {
    color: white;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.input {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.input input {
    width: 20rem;
    height: 2rem;
    text-align: center;
    transition: all 0.8s;
    border: none;
    outline: none;

}


.button-l-c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.button-l-c button{
    font-size: 1.6rem;
    background-color: black;
    border: none;
    color: white;
    font-weight: 200;
    transition: all 0.8s;
    cursor: pointer;
    margin-bottom: 3rem;
}

.button-l-c button:hover{
    transform: scale(1.3);
    width: 13rem;
}

.input input:hover{
    transform: scale(1.2);
}


#login-tela-direita{
    height: 22rem;
}


@media only screen and (max-width: 1250px) {
   
    body{
        background-color: black;
    }

    .nav-bar{
        display: none;
    }

    .nav-bar-mobile{
        cursor: pointer;
        display: flex;
        width: 35px;
        height: 35px;
        margin-right: 50px;
        align-items: center;
        justify-content: center;
    }

    .main-cadastro {
        width: auto;
        height: 100%;
        background-color: black;
        display: block;
        justify-content: center;
        align-items: center;
    
    }

    .left-cadastro {

        display: contents;
        /* justify-content: center;
        align-items: center; */
        width: auto;
        height: 36rem;
        flex-direction: column;
    
    }

    .describe{
        margin: 25px;
    }

    .rigth-cadastro {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 30rem;
        flex-direction: column;
        margin-left:0 ;
        box-shadow: 9px -6px 75px 10px rgba(255,255,255,0.26);
    }

  }