.main{
    width: 100vw;
    height: 120vh;
    

    h1{
        color: #FFB510;
        font-weight: 200;
        margin-bottom: 1rem;
    }
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 75rem;
    height: 45rem;
}


.founders-up{
display: flex;
flex-direction: row;
justify-content: space-between;
width:75rem;
height: 22rem;
}

.box-founder{
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    align-items: center;
    width: 50rem;
    height: 22rem;
    border: 1px solid #5268D7;
    margin-left: 1rem;
}


.imagem-founder{
width: 13rem;
border-radius: 100%;
background-color: white;
height: 13rem;
margin-top: 1rem;


img{
    object-fit:cover;
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
}

}


.descricao-founder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    h1{
        font-size: 1.5rem;
        color: #FFB510;
        font-weight: 300;
    }


    p{
        font-size: 1rem;
        color: white;
        font-weight: 300;
    }
}

.founders-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75rem;
    height: 22rem;
    margin-top: 0.5rem;
    }

