@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: space-between;

}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #454444;
    width: 3.5rem;
    height: 100vh;

}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12rem;
    margin-top: 1rem;
    transition: all 0.8s;


}

.nav-bar button {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: 0.3rem;


}


.nav-bar:hover {
    transform: scale(1.3);
}

.hide {
    display: none;
}

.nav-bar img {
    width: 2rem;
    cursor: pointer;
    transition: all 0.8s;


}



.content-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70rem;
    height: 45rem;
    margin-right: 10rem;
    /* border: 1px solid #454444; */

}

.titulo {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 1rem;
    text-align: center;
    height: 6.5rem;

    p {
        font-weight: 200;
        font-size: 3.5rem;
        margin-bottom: 1rem;

    }


}

.describe {
    display: flex;
    justify-content: flex-start;
}

.entradas-user {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    color: white;

    button {
        color: white;
    }
}

.button-edit-name {
    background-color: transparent;
    border: none;
    justify-content: start;
    cursor: pointer;
}

.conteudo {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    width: 70rem;
    height: 30rem;
    justify-content: center;
   

}

.colunas {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 40rem;
    height: 35rem;
    margin-left: 1rem;
    border: 1px solid white;
    gap: 2rem;

}

.describe {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
    justify-content: center;

}

    p {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 200
    }

    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .photo-user-container {
        gap: 30px;
    }

    .photo {
        width: 100px;
        height:100px;
        border-radius: 100px;
        cursor: pointer;
        margin-top: 20px;
    }



#backButton img{
    width: 2rem;
}


#backButton{
    width: 3rem;
}

#backButton button{
    font-size: 1.1rem;
}


.container-info {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.entradas-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
        margin-top: 1rem;

    h1{
        color: white;
        font-size: 1rem;
        font-weight: 200;
    }

    span{
        margin-top: 0.2rem;
        height: 1.5rem;
        outline: none;
        max-width: 200px;

    }

}

.user-info {
    display: flex;
    justify-content: space-between;
    
    button {
        margin-right: 5px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: 0.4s all;
    }

    button:hover{
        color: red;
        transition: 0.4s all;
    }
}

