footer{
    background-color: #176B87;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding: 15px;
}

footer p{
    font-size: 14px;
    color: #F0FAFF; 
    font-family:Yaldevi;
}

.imgFooter{
    width: 120px;
}

.imgFooter:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(80%) saturate(5498%) hue-rotate(170deg) brightness(89%) contrast(106%);
  }

.socialMediaImg:hover{
    filter: brightness(0) saturate(100%) invert(85%) sepia(80%) saturate(5498%) hue-rotate(170deg) brightness(89%) contrast(106%);
}

.socialMedia{
    display: flex;
    width: auto;
    /* border: red solid 1px; */

}

.socialMediaImg{
    padding: 0 10px;
}