@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    scrollbar-width: thin;          
    scrollbar-color: #176B87 #E0F6F9 ; 
}

.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #176B87;
    
   
}

.containerMeio img{
    display: flex;
    /* width: 400px; */
    border-radius: 30px;
    margin: 20px;
}

.containerMeio{
    display: flex;
    flex-direction: row;
  
    width: 60%;
    height: 80%;
    border-radius: 30px;
    background-color: #E0F6F9;

}


.titulo{
    width: fit-content;
    text-align: center;
    font-family: "Viga", sans-serif;
    color: #176B87;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    margin:50px 10px;
}

.containerInfo{
    display: flex;
    /* border: 1px solid red; */
    height: fit fit-content;
    flex-direction: column;
    justify-content: space-evenly;
}

.labelInfo{
    margin-left: 10px;
    font-family: "Yaldevi", sans-serif;
    color:  #176B87;
    font-weight:700;
    font-style: normal;
}

.infosBg{
    display: flex;
    width: 300px;
    border: #c6e5e9 2px solid;
    padding: 10px;
    border-radius: 30px;
    margin:10px 00px;
}
.info{
    font-family: "Yaldevi", sans-serif;
    color:  #989999;
    font-weight:500;
    font-style: normal;
}

.botao{
    border-radius: 30px;
    border: none;
    width: 350px;
    height: 150px;
    background-color: #176B87;
}