@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');


*{
    margin: 0;
    padding: 0;
}

.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #E0F6F9;
    padding-left: 30px;
}

.containerEsquerdo{
    display: flex;
    width: 40%;
    height: 90%;
    border-radius: 30px;
    margin-right: 10px;
    background-color: #176B87;
}

.containerDireito{
    display: flex;
    width: 40%;
    height: 90%;
    border-radius: 30px;
    margin-left: 10px;
    background-color: #176B87;
}

.titulo{
    width: 50px;
    font-family: "Viga", sans-serif;
    color: #E0F6F9;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    border: solid 1px red;
    margin: 20px;
}