@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    scrollbar-width: thin;          
    scrollbar-color: #176B87 #E0F6F9 ; 
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #176B87;
 
}


.containerMeio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
    width: 90%;
    height: 90%;
    border-radius: 30px;
    background-color: #24748d;

}


.containerTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 97%;;
    /* margin-top: 100px; */
    /* border: red solid 1px */

}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    text-align: center;
    font-family: "Viga", sans-serif;
    color: #E0F6F9;
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 20px;
    
}

.containerPesquisa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 97%;; */
    /* margin-top: 100px; */
    /* border: red solid 1px */

}

.teste{
    display: flex;
    height: 30px;
    width: 20px;
    background-color: #ffffff;
}

.inputPesquisa{
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #E0F6F9;
    width: 100%;
    padding-left: 10px;
    font-family: "Yaldevi", sans-serif;
    color:  #176B87;
    font-size: 14px;
    margin-bottom: 5px;
}

.containerInfo{
    
    border-radius: 30px;
    background-color: #E0F6F9;
    height: 60%;
    width: 93%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
    overflow-y: auto;
}

.icons{
    display: flex;
    flex-direction: row;
    /* border: 1px red solid; */
    align-items: center;
    width: 400px;
    justify-content: space-between;
}




.btIcon{
    width: 40px;
}


img{
    width: 150px;
    margin-right: 20px;
}


.tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    /* margin: 30px; */
    background-color: #E0F6F9;
    border: solid 1px #176b87;
    border-radius: 30px;
    box-shadow: 10px 10px 8px -4px #b1c2c8;
    width: 200px;
    height: 210px;
    
    text-align: center;
    font-family: "Yaldevi", sans-serif;
    color:  #176B87;
    font-size: 10px;
    font-weight:700;
}

.tile:hover{
    background-color: #d0f6fd;
}

.tile img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}



.labelInfo{
    margin-left: 10px;
    font-family: "Yaldevi", sans-serif;
    color:  #176B87;
    font-weight:700;
    font-style: normal;
}

.infosBg{
    display: flex;
    width: 300px;
    border: #c6e5e9 2px solid;
    padding: 10px;
    border-radius: 30px;
    margin:10px 00px;
}


.botao{
    border-radius: 30px;
    border: none;
    width: 350px;
    height: 150px;
    background-color: #176B87;
}


.hide{
    display: none;
}